body {
    color: darkblue;
}

/* The jumbotron image is a photograph taken by Edward Jenner
from https://pexels.com/photo/glass-color-health-medicine-4033023/ */
.bg-image {
    background-image: url("../../images/jumbotron.jpg");
    background-size: 25% 100%;
    text-align: center;
}